.projectBox {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    place-content: center;
    gap: 3rem;
}

.txtNamePrj {
    text-align: center;
}

.txtDescPrj {
    text-align: justify;
    text-align: justify;
    height: 80px;
    padding: 0px 20px;
}

.projectContent {
    position: relative;
    text-align: center;
    background-color: #212121;
    width: 20rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.projectContent:hover {
    background-color: #2c2c2c;
    transform: scale(1.05);
}

.projectContent img {
    width: 20rem;
    padding: 20px;
}

.scroll-targetP {
    opacity: 0;
    transform: translateX(250px);
    transition: opacity 2s, transform 2s;
}

.scroll-targetP.active {
    opacity: 1;
    transform: translateX(0);
}

.boxProjectsMain {
    margin-top: 100px;
    overflow: hidden;
}