.botao {
    background-color: #0d0d0b;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 15px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 32px 0;
    width: 100%;
}

.botao:hover {
    background-color: #679fd2;
}