body {
  background-color: #161616;
  color: #dfdfdf;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h3, h3 {
  border-bottom: 2px solid #5a62f6;
  width: max-content;
  margin: 20px auto;
}

.btn{
  color: #fff;
  border-radius: 15px;
  font-size: 15px;
  padding: 9px 20px;
  margin-right: 25px;
  box-shadow: 3px 3px 5px 0px #0f0f0f;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #4f72fb;
}