body {
  background-color: #161616;
  color: #dfdfdf;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

#root {
  scroll-behavior: smooth;
}

.App {
  scroll-behavior: smooth;
}

#home {
  scroll-margin-top: 200px;
}
#about {
  scroll-margin-top: 350px;
}
#skillUp {
  scroll-margin-top: 200px;
}
#projects {
  scroll-margin-top: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h3, h3 {
  border-bottom: 2px solid #5a62f6;
  width: max-content;
  margin: 50px auto 20px auto;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #4f72fb;
}

.navbar {
  background-color: #0f0f0ff2;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 100px;
  transition: all 0.7s ease-out;
}

.navbar-scroll{
  height: 75px;
  transition: all 0.7s ease-out;
}

.navbar-scroll .menuToggle{
  top: 15px;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1420px;
  }
}

@media (max-width: 992px) {
  .boxSkill{
    justify-content: center;
    place-items: center;
  }
}

@media (max-width: 500px) {
  .hamburger-react div {
    width: 25px!important;
  }
  .logo img {
    width: 110px;
  }
  .navbar_switch {
    top: 10px;    
  }
  .boxBannerBio{
    margin-top: 150px;
  }
  .boxBtn {
    margin-top: 30px;
    text-align: center;
  }
  .btnPrimary{
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .img-profile-box {
    margin-top: 40px;
  }
  .btns{
    font-size: 14px;
    width: 150px;
    padding: 10px;
  }
  .about {
    font-size: 16px;
    text-align: center;
  }
  .h3, h3 {
    margin: 20px auto 10px auto;
  }
  .boxAbout{
    margin-top: 50px;
  }
  #skillUp{
    margin-top: 50px;
  }
  .boxProjectsMain {
    margin-top: 50px;
  }
  .rodapeBox{
    gap: 1rem;
  }
  .txtRodapeContent {
    font-size: 14px;
  }
  .scroll-targetP {
    transform: translateX(150px);
  }
  .scroll-target {
    transform: translateX(-150px);
  }
}
