.banner{
    background-color: #6278F7;
    text-align: center;
}

.bio{
    height: 150px;
}

.img-profile{
    max-width: 300px;
}

.img-profile-box{
    text-align: center;
}

.text-first{
    background-image: linear-gradient(to bottom, #933dea, #4179e5, #5690FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #5690FF;
}

.text-name{
    color: #fff;
}

.text-dev{
    font-size: 1.2rem;
    color: #7a7a7a;
    font-weight: 400;
}

.boxBtn{
    margin-top: 80px;
}

.btnSecondary{
    color: #fff;
    background-color: #0d0d0d!important;
    border: 1px solid #5c6bf6!important;
}

.btnPrimary{
    border: none !important;
    color: white;
    background: linear-gradient(180deg, rgba(109, 0, 219, 0.50) 20.83%, rgba(97, 0, 255, 0.00) 93.23%), #3566c6 !important;
    border: none;
}