.banner{
    background-color: #6278F7;
    text-align: center;
}

.bio{
    height: 150px;
}

.img-profile{
    max-width: 300px;
}

.img-profile-box{
    text-align: center;
}

.text-first{
    background-image: linear-gradient(to bottom, #933dea, #4179e5, #5690FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #5690FF;
}

.text-name{
    color: #fff;
}

.text-dev{
    font-size: 1.2rem;
    color: #7a7a7a;
    font-weight: 400;
}

.boxBtn{
    margin-top: 80px;
}

.btnSecondary{
    color: #fff;
    background: #0d0d0d;
    border: 1px solid #5c6bf6;
}

.btnPrimary{
    margin-right: 25px;
    border: none;
    color: white;
    background: linear-gradient(180deg, rgba(109, 0, 219, 0.50) 20.83%, rgba(97, 0, 255, 0.00) 93.23%), #3566c6;
    border: none;
}

.btnPrimary:hover{
    transition: all 0.7s ease-out;
    background: #5500c4b8;
    border: none;
}

.btnSecondary:hover{
    transition: all 0.7s ease-out;
    border: 1px solid #774bd8;
}

.btns{
    text-align: center;
    width: 180px;
    color: #fff;
    border-radius: 15px;
    font-size: 15px;
    padding: 9px 20px;
    box-shadow: 3px 3px 5px 0px #0f0f0f;
    transition: all 0.7s ease-out;
    cursor: pointer;
    display: inline-block;
}

.boxBannerBio{
    margin-top: 200px;
}